@model LSCS.Models.ChecklistDto

@{
    ViewBag.Title = "Edit Checklist";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "http://localhost:1059/api/checklists/" + Model.Id, @id = "edit-checklist-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container-inline">
        <h4>Edit Checklist</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @rows = "5", @cols = "80", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FileNumber, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FileNumber, new { @type = "number", @class = "form-control" })
            </div>
        </div>
        <div class="form-object">
            <fieldset name="SurveyLocation">
                <legend>Survey Location</legend>
                <div class="form-sub-object">
                    <fieldset name="Address">
                        <legend>Address</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.AddressLine1, "Address 1", new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.AddressLine1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.AddressLine2, "Address 2", new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.AddressLine2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.City, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.City, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.StateProvince, "Province", new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.StateProvince, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.CountryRegion, "Country", new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.CountryRegion, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Address.PostalCode, "Zip Code", new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Address.PostalCode, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-sub-object">
                    <fieldset name="Coordinate">
                        <legend>Coordinate</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Coordinate.Latitude, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Coordinate.Latitude, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.Coordinate.Longitude, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.Coordinate.Longitude, new { @class = "form-control" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-sub-object">
                    <fieldset name="LandDistrict">
                        <legend>Land District</legend>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.LandDistrict.Name, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.LandDistrict.Name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SurveyLocation.LandDistrict.NtsMap, new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.SurveyLocation.LandDistrict.NtsMap, new { @class = "form-control" })
                            </div>
                        </div>
                        <fieldset name="Coordinate">
                            <legend>Coordinate</legend>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SurveyLocation.LandDistrict.Coordinate.Latitude, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SurveyLocation.LandDistrict.Coordinate.Latitude, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SurveyLocation.LandDistrict.Coordinate.Longitude, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.SurveyLocation.LandDistrict.Coordinate.Longitude, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                </div>
            </fieldset>
        </div>
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%"
                src="http://forecast.io/embed/#lat=@(Model.SurveyLocation.Coordinate.Latitude)&lon=@(Model.SurveyLocation.Coordinate.Longitude)&name=@(Model.SurveyLocation.LandDistrict.Name)"></iframe>
        <iframe src="https://www.google.com/maps/embed/v1/place?q=@(Model.SurveyLocation.Coordinate.Latitude)%2c@(Model.SurveyLocation.Coordinate.Longitude)&key=AIzaSyCJ03ynONA_qVG4ILQ6F5Zlo4DB8YHdBb0"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">A - Plan Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < 8; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">B - Main Body of Plan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 8; i < 26; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">C - Scenery</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 26; i < 33; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">D - Deposit Statement</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 33; i < 35; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3"    >
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">E - Integrated Survey Area</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 35; i < 39; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">F - Miscellaneous</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 39; i < 43; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-heading">G - Electronic Plan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 43; i < 47; i++)
                {
                    <tr>
                        <td class="col-md-9">@Model.Items[i].Text</td>
                        <td class="col-md-3">
                            @foreach (var status in Enum.GetValues(typeof(LSCS.Models.ChecklistItemStatus)))
                            {
                                <label class="control-label radio-inline radio-label">
                                    @Html.RadioButtonFor(model => model.Items[i].Status, status)
                                    @status.ToString()
                                </label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
